@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  :target {
    scroll-margin-top: 6rem; /* This matches scroll-mt-24 globally */
  }
}

@layer components {
  /* Custom scrollbar for webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-accent/30 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/50;
  }
}
